@model QLTours.Models.loai

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>loai</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten)
        </dd>

        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
